<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Льготы для студентов</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="#">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>


    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Льготы для студентов</h1><hr></div>
        <div id="article">
          <h1>Социальная стипендия</h1>

          <p>Социальную стипендию могут получить студенты, относящиеся к категориям:</p>
          <ul class="list" style="list-style: square">
            <li>Детей-сирот и детей, оставшихся без попечения родителей, лиц из числа детей-сирот и детей, оставшихся без попечения родителей</li>
            <li>Лиц, имеющих льготы в соответствии со статьями 18-23 Закона РБ «О социальной защите граждан, пострадавших от катастрофы на Чернобыльской АЭС, других радиационных аварий»</li>
            <li>Инвалидов;  - Беременных женщин;  - Лиц, имеющих детей в возрасте до 18 лет;  - Лиц, находящихся в тяжелом материальном положении</li>
            <li>Детей граждан, в том числе уволенных в запас (отставку), из числа военнослужащих, ставших инвалидами вследствие ранения, контузии, увечья или заболевания, полученных при исполнении обязанностей военной службы</li>
            <li>Детей военнослужащих, погибших (умерших) при исполнении воинского или служебного долга в Афганистане или в других государствах, где велись боевые действия, а также умерших вследствие ранения, контузии, увечья или заболевания, полученных в период боевых действий</li>
            <li>Детей военнослужащих, погибших при исполнении обязанностей военной службы, а также умерших в период прохождения военной службы вследствие ранения, контузии, увечья или заболевания, непосредственно связанных со спецификой несения военной службы</li>
 	         </ul>
          <p>Чтобы получить такую стипендию, нужно подать заявление и необходимые документы в деканаты факультетов в течение 7 дней со дня ликвидации академической задолженности</p>
	        <p>Более подробную информацию можно получить в деканатах факультетов или в профкоме студентов БГУИР (2 корпус БГУИР, каб. 311, тел. 293-23-59, 292-71-13).</p>

          <h1>Льготное питание</h1>

          <p>Льготное питание может быть предоставлено студентам, которые находятся в тяжелом материальном положении. Льготное питание осуществляется во всех столовых и буфетах учебных корпусов и общежитий БГУИР в течение четырех месяцев каждого семестра, выделяется на один семестр.</p>
          <p>Необходимые документы:</p>
          <ul class="list" style="list-style: decimal">
            <li>Справка о составе семьи (копия лицевого счета).</li>
            <li>Справка о доходах родителей (за последние 12 месяцев).  </li>
            <li>Другие документы, подтверждающие необходимость в получении льготного питания:
              <ul>
                <li>– Копия свидетельства о разводе родителей/смерти одного из родителей</li>
                <li>– Справка о размере пенсии (по потере кормильца, по инвалидности)</li>
                <li>– Копия удостоверения инвалида </li>
                <li>– Справка с места учебы брата/сестры и справка о стипендии</li>
                <li>– Копия удостоверения многодетной семьи и другие документы </li>
              </ul>
            </li>
          </ul>
          <p>С 1 по 17 сентября и с 1 по 17 февраля студенты дневной формы обучения, претендующие на льготное питание, должны подавать заявление и документы в кабинет №324б — 4 социальному педагогу (тел.293-85-75).</p>

          <h1>Компенсация проезда</h1>

          <p>Компенсация за проезд оказывается только иногородним студентам дневной формы обучения, среднедушевой доход семьи которых по объективным причинам ниже наибольшей величины бюджета прожиточного минимума в виде частичной (50%) компенсации стоимости проезда к месту проживания семьи (родителей). Не более чем за две поездки (туда и обратно) в месяц на пассажирском транспорте общего пользования регулярного междугородного сообщения (кроме такси) или не более чем за четыре поездки (туда обратно) в месяц на пассажирском транспорте общего пользования регулярного сообщения (кроме такси).  Данный вид материальной помощи оказывается учащимся и студентам на период с 1 сентября по 30 июня.</p>
          <p>К заявлению прилагаются следующие документы:</p>
          <ul class="list" style="list-style: decimal">
            <li>сведения о доходах каждого члена семьи учащегося (студента) за последние 12 месяцев, предшествующих месяцу подачи заявления</li>
            <li>проездные документы за месяц, предшествующий месяцу обращения за материальной помощью на проезд</li>
            <li>справка о составе семьи</li>
          </ul>
          <p>Указанные документы, кроме проездных документов, представляются в комиссию один раз при подаче заявления. Проездные документы представляются не позднее 5-го числа каждого месяца, следующего за месяцем, в котором совершена поездка, социальному педагогу в кабинет N 324б - 4 учебного корпуса (тел. 293-85-75).</p>

          <h1>Компенсация расходов по найму жилья</h1>
          <p>Право на возмещение расходов по найму жилья имеют иногородние студенты, дневной формы обучения за счет средств бюджета и состоящие на учете граждан, желающих получить жилое помещение в общежитии и не обеспеченные местом для проживания в общежитии. В данном случае среднедушевой доход их семьи не превышает 200 процентов наибольшей величины бюджета прожиточного минимума в среднем на душу населения, утвержденного Правительством Республики Беларусь за два последних квартала.</p>
          <p>Возмещение расходов по найму жилья осуществляется с 1 сентября по 30 июня и составляет 3 базовые величины в месяц.</p>
          <p>Для получения компенсации студентам необходимо:</p>
          <ul class="list" style="list-style: decimal">
            <li>документы о полученных доходах каждого члена семьи обучающегося за двенадцать месяцев, предшествующих месяцу обращения</li>
            <li>копии договора найма жилого помещения частного жилищного фонда или поднайма жилого помещения государственного жилищного фонда, заверенной подписью руководителя и печатью учреждения образования</li>
            <li>справка о составе семьи</li>
            <li>другие документы:
              <ul>
                <li>– копию инвалидного удостоверения</li>
                <li>– копии свидетельств о разводе/смерти родителей</li>
                <li>– справки о размере пенсий (по потери кормильца, по инвалидности) и другие документы</li>
              </ul>
            </li>
          </ul>
          <p>Заявление и документы представляются не позднее 5-го числа каждого месяца социальному педагогу в кабинет №324б — 4 (тел.293-85-75).</p>

          <h1>Оздоровление</h1>

          <p>Оздоровление предоставляется в санатории-профилактории «Политехник» без отрыва от процесса обучения, а так же в каникулярное время в санаториях Республики Беларусь и на базе отдыха университета «Браславские озера».</p>
          <p>Для получения санаторной путевки необходимо подать заявление и справку ВКК. Справка выдается в 33-ей поликлинике - для иногородних студентов, для минчан - в поликлинике по месту жительства.</p>
          <p>Профком студентов предоставляет студентам, нуждающимся в санаторно-курортном лечении дотацию и помогает подобрать санаторий, соответствующий профилю заболевания. Размер дотации определяется в зависимости от заболевания и материального положения семьи, обратившегося студента.</p>
          <p>Студенты, желающие пройти оздоровление/лечение в санатории или профилактории необходимо обращаться в комиссию по оздоровлению студентов каб. №324 — 4. (тел. 293-85-75), профком студентов каб. №311-2 (тел. 292-23-59).</p>

          <h1>Освобождение от оплаты за общежитие</h1>
          <p>От оплаты за общежитие освобождаются студенты из числа детей-сирот и детей, оставшихся без попечения родителей, а также студенты, имеющие инвалидность 1 и 2 гр., дети-инвалиды в возрасте до 18 лет, а также студенты, у которых родители получили инвалидность или погибли при исполнении обязанностей военной службы.</p>
          <p>Для освобождения от оплаты за общежитие студентам необходимо предоставить документы, подтверждающие данное право социальному педагогу СППС БГУИР с 01 по 10 сентября и с 01 по 10 января текущего года в профком студентов к.311-2 (тел. . 293-23-59) или к социальному педагогу к. 324б-4корп. (тел. 293-85-75).</p>
          <p>Информацию о квартирах и комнатах, сдающихся в наем, можно получить в профкоме студентов.</p>

          <p style="text-decoration: underline">За подробной информацией по вопросам социальной поддержки студентов БГУИР обращайтесь: (8-017) 292-71-13, 293-23-59; ул.Петруся Бровки, 4; каб.311-2.</p>

        </div>

      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Студенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="schedule"><p>Расписание</p></a>
            <a href="tempstatemnts"><p>Шаблоны заявлений</p></a>
            <a href="dormitoty"><p>Общежитие</p></a>
            <a href="materialaid"><p>Материальная помощь</p></a>
            <a href="studprivs"><p class="selected">Льготы для студентов</p></a>
            <a href="scholarships"><p>Стипендии</p></a>
            <a href="paideducation"><p>Платное обучение</p></a>
            <a href="payreduction"><p>Понижение оплаты</p></a>
            <a href="practice"><p>Практика</p></a>
            <a href="graduationproject"><p>Дипломный проект</p></a>
            <a href="distribution"><p>Распределение</p></a>
            <a href="militarytraining"><p>Военная подготовка</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
