<!DOCTYPE html
<html>
  <head>
    <meta charset="utf-8">
    <title>Понижение оплаты</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="#">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
       <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>


    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Понижение оплаты</h1><hr></div>
        <div id="article">
          <p>У студентов платной формы обучения есть возможность снизить стоимость обучения или перейти на её бюджетную форму.</p>
          <p>Средний балл за год обучения должен составлять не менее 7,46. (7,46-8,25 - 20%, 8,25-9,0 - 40%, 9,0-10,0 - 60%) при условии, что 9-10 баллов у вас минимум 50%. К тому же у вас должно быть участие в научной деятельности университета (выписка из протокола заседания кафедры) и общественная работа (справка из БРСМ, Профком - не менее 3-х мероприятий), характеристика и копия закрытой зачетки по сессии с титульным листом. Характеристика для снижения и заявление. По всем вопросам обращайтесь к Кракасевичу Сергею Викторовичу или Ганаковой Катерине Викторовне.</p>
          <p>Для перевода на бюджетную форму обучения необходимо иметь 75% и более отметок 9 (девять) и 10 (десять), а остальные – не менее 7 (семи) баллов по итогам всего года. Для подтверждения отметок необходима ксерокопия тех страниц зачетной книжки, на которых есть отметки за учебный год, по результатам которого подаются документы (включая страницы с практикой и курсовыми проектами). Также в зачетке должна быть подпись декана и печать факультета, подтверждающая перевод на следующий курс.</p>
          <p>Высокими показателями научно-исследовательской деятельности студентов являются:
            <ul class="list" style="list-style: square">
              <li>Выполнение заданий, лабораторных работ, курсовых и дипломных проектов (работ), содержащих элементы научных исследований;</li>
              <li>Самостоятельные научные исследования и теоретические исследования;</li>
              <li>Участие в работе студенческих научно-исследовательских лабораторий, кружков, проблемных групп, конструкторских, проектных, экономических, научно-информационных, переводческих бюро, наличие научных публикаций.</li>
            </ul></p>
          <p>Высокими показателями общественной работы студентов и учащихся являются:
            <ul class="list" style="list-style: square">
              <li>Участие в работе органов самоуправления учреждения образования, молодежных общественных объединений, в организации и проведении общественно значимых мероприятий, акций, шефство над ветеранами войны и труда;</li>
              <li>Участие в спортивных соревнованиях, выставках, в организации и подготовке культурно-массовых мероприятий, занятие художественным и техническим творчеством, шефство над трудными подростками;</li>
              <li>Участие в волонтерском, стройотрядовском движении и общественно полезном труде.</li>
            </ul></p>

          <p>Подтверждают общественную и научную деятельность следующие документы:
            <ul class="list" style="list-style: square">
              <li>Ходатайства УВРМ и студенческого клуба, где подробно указаны мероприятия (не менее 3), в которых учащийся принял участие;</li>
              <li>Ходатайство БРСМ, если студент является членом БРСМ (не просто состоит, а именно активист);</li>
              <li>Выписка из протокола заседания кафедры, где также указаны мероприятия и научная работа (очень подробно описана, вплоть до названия и даты, когда она была представлена). В протоколе заседания должно быть также указано, что кафедра согласна с переводом или скидкой для данного студента.</li>
            </ul></p>

            <p>Согласно Постановлению Совета министров о порядке предоставления скидок со сформированной стоимости обучения скидки предоставляются студентам и учащимся:
              <ul class="list" style="list-style: square">
                <li>Достигшим высоких показателей в учебной, научно-исследовательской деятельности и общественной работе;</li>
                <li>Являющимся членами малообеспеченных семей в соответствии с абзацем пятым статьи 1 Закона Республики Беларусь от 6 января 1999 года "О прожиточном минимуме в Республике Беларусь" (Национальный реестр правовых актов Республики Беларусь, 1999 г., № 5, 2/14);</li>
                <li>Являющимся детьми-сиротами, детьми, оставшимися без попечения родителей, лицами из числа детей-сирот и детей, оставшихся без попечения родителей, а также лицами в возрасте от 18 до 23 лет, потерявшими последнего из родителей в период обучения;</li>
                <li>Из числа детей лиц, перечисленных в подпунктах 3.2, 3.4 и 3.7 пункта 3, пункте 10 и подпунктах 12.2 и 12.3 пункта 12 статьи 3 Закона Республики Беларусь от 14 июня 2007 года "О государственных социальных льготах, правах и гарантиях для отдельных категорий граждан";</li>
                <li>Инвалидам I, II и III группы, детям-инвалидам в возрасте до 18 лет;</li>
                <li>Имеющим льготы, либо из числа лиц в возрасте до 23 лет, не имеющих собственной семьи, родители которых имеют льготы, в соответствии со статьями 18 - 23 Закона Республики Беларусь от 6 января 2009 года "О социальной защите граждан, пострадавших от катастрофы на Чернобыльской АЭС, других радиационных аварий";</li>
                <li>Из семей, в которых воспитывается трое и более несовершеннолетних детей.</li>
              </ul></p>
        </div>

      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Студенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="schedule"><p>Расписание</p></a>
            <a href="tempstatemnts"><p>Шаблоны заявлений</p></a>
            <a href="dormitoty"><p>Общежитие</p></a>
            <a href="materialaid"><p>Материальная помощь</p></a>
            <a href="studprivs"><p>Льготы для студентов</p></a>
            <a href="scholarships"><p>Стипендии</p></a>
            <a href="paideducation"><p>Платное обучение</p></a>
            <a href="payreduction"><p class="selected">Понижение оплаты</p></a>
            <a href="practice"><p>Практика</p></a>
            <a href="graduationproject"><p>Дипломный проект</p></a>
            <a href="distribution"><p>Распределение</p></a>
            <a href="militarytraining"><p>Военная подготовка</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
