<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Общежитие</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="#">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>


    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Общежитие</h1><hr></div>
        <div id="article">
          <p>Иногородние студенты обеспечиваются общежитием в порядке очереди:
            внеочередное заселение, в первую очередь, в порядке общей очереди.</p>
          <p>В состав студенческого городка БГУИР входят четыре комфортабельных
            общежития на 3100 мест, расположенных в центре города, в 30 минутах
            ходьбы от учебных корпусов университета. Рядом находятся станции метро
            «Академия наук», «площадь Якуба Колоса», Комаровский рынок, крупные торговые
            и развлекательные центры. Общежитие №4 расположено в Студенческой деревне
            (станция метро «Петровщина»). В общежитиях №1, №2 и №4 работают столовые,
            в которых можно вкусно и недорого питаться. В общежитиях также располагаются
            тренажерные залы, теннисные комнаты, есть возможность пользования стиральными
            машинами. Студенты проживают в комнатах по 2, 3 и 4 человека.</p>
          <p>Адреса общежитий:
            <ul class="list" style="list-style: square">
              <li>Общежитие №1 – ул. Я. Колоса, 28</li>
              <li>Общежитие №2 – ул. Л. Беды, 4</li>
              <li>Общежитие №3 – ул. Л. Беды, 2Б</li>
              <li>Общежитие №4 – пр-т Дзержинского, 95</li>
            </ul>
          </p>
          <p>Перечень критериев предоставления мест в общежитии:
            <ul class="list" style="list-style: decimal">
            <li>Право на внеочередное заселение в общежитие имеют:</li>
            <ul>
              <li>1.1. Обучающиеся в БГУИР (далее - студенты) – сироты и дети, оставшиеся без попечения родителей, а также приравненные к ним (студенты из семей, в которых один из родителей – военнослужащий, сотрудник МВД, КГБ и т.п. – погиб при исполнении своих обязанностей).</li>
              <li>1.2. Студенты-инвалиды 1-ой и 2-ой групп, дети-инвалиды.</li>
              <li>1.3. Студенты, имеющие право на льготы в соответствии со статьями Закона Республики Беларусь «О социальной защите граждан, пострадавших от катастрофы на Чернобыльской АЭС» (ст. 18, 19, 23, 24, 25).</li>
              <li>1.4. Студенты включенные в банк данных одаренной молодежи, банк данных талантливой молодежи на период обучения.</li>
              <li>1.5. Студенты, которые выбыли из общежития в связи с призывом на военную службу, и после увольнения в запас восстановились в БГУИР.</li>
              <li>1.6. Студенты – иностранные граждане, если это предусмотрено контрактом.</li>
            </ul>
            <li>Право на заселение в общежитие в первую очередь имеют:</li>
            <ul>
              <li>2.1. Молодые семьи (семьи, в которых оба члена семьи – студенты и (или) магистранты БГУИР, студент и аспирант БГУИР и т.п.).</li>
              <li>2.2. Студенты-воспитанники домов-интернатов для детей инвалидов, школ-интернатов и иных учреждений, обеспечивающих содержание и воспитание детей.</li>
              <li>2.3. Студенты-инвалиды с детства.</li>
            </ul>
            <li>Право на заселение в общежитие в порядке общей очереди имеют:</li>
            <ul>
              <li>3.1. Оставшиеся студенты, не имеющие права на внеочередное или первоочередное заселение в общежитие в порядке очереди.</li>
            </ul>
          </ul></p>

          <p>Алгоритм заселения в общежитие для студента 1-го курса:
            <ul class="list" style="list-style: decimal">
              <li>После зачисления вам необходимо подать в деканат заявление на предоставление общежития на имя ректора в деканат факультета с 25 августа по 31 августа.</li>
              <li>Приложить к заявлению необходимые документы (справка о составе семьи, справка о доходах членов семьи, документы, подтверждающие право на льготы и др.).</li>
              <li>Дождаться решения жилищно-бытовой комиссии факультета. Как правило, решение принимается в течение двух недель. Списки заселённых в общежития размещаются на информационных стендах деканатов. В некоторых деканатах существует практика сообщения о заселении по телефону. Вы также сами можете звонить в деканат и интересоваться, как обстоят ваши дела с общежитием.</li>
              <li>Как только вы узнали, что вас заселяют, необходимо получить в деканате справку о том, что являетесь студентом БГУИР.</li>
              <li>С этой справкой, двумя фотографиями формата 3х4 (понадобятся для ордера и пропуска в общежитие) и паспортом прийти к инспектору студенческого городка (ул. Я. Коласа, 28, общежитие №1, кабинет 109). Там вы получите ордер на заселение и заключите договор найма жилого помещения в общежитии на текущий учебный год.</li>
              <li>Далее вам необходимо зарегистрироваться по месту пребывания (паспортный стол - ул. Я. Коласа, 28, общежитие №1, кабинет 110). Для этого лицам, достигшим 18 лет, нужно произвести оплату за временную регистрацию 105 000 (10 руб. 50 коп.) в любом отделении АСБ «Беларусбанк» на счет 360 291 101 0004 с обязательным указанием района, в котором вы регистрируетесь (общ. № 1, 2, 3, учебный корпус - Советский район, общ. №4 - Московский район). После оплаты квитанцию и паспорт необходимо сдать паспортисту, после чего он поставит в вашем ордере подпись и штамп.</li>
              <li>Обязательным является предоставление выписки о флюорографическом обследовании и прохождение медицинского осмотра у врача на отсутствие педикулеза и чесотки (данную процедуру вы можете пройти в поликлинике по месту жительства, срок действия справки 5 дней). В день заселения - 31 августа врачи будут находиться в общежитиях №1 и №4. Если вы не смогли приехать 31 августа, осмотр будет осуществляться в 33-й студенческой поликлинике, которая расположена по ул. Сурганова, 45-4 (недалеко от общежития №1).</li>
              <li>Далее вам нужно подойти к заведующему своего общежития для заселения в порядке очереди. Получив ключи от в указанной в ордере комнаты и временный пропуск вы поднимаетесь в свою комнату. Постоянный пропуск вам выдадут позже.</li>
              <li>Напоминаем, что заселение осуществляется до 15 сентября.</li>
            </ul></p>

          <p>Студенты, которым не предоставили место в общежитии, после 11 сентября 2016 года обязаны зарегистрироваться на период учебы к главному корпусу университета по ул. П.Бровки, 6 (согласно п.30 Положения о регистрации граждан по месту жительства и месту пребывания от 07.09.2007).
            Для этого необходимо:
            <ul class="list" style="list-style: decimal">
              <li>Взять справку в деканате о том, что вы являетесь студентом университета.</li>
              <li>Для лиц, достигшим 18 лет, нужно произвести оплату за временную регистрацию 105 000 (10 руб. 50 коп.) в любом отделении АСБ «Беларусбанк» на счет 360 291 101 0004 с обязательным указанием района, в котором вы регистрируетесь (учебный корпус - Советский район).</li>
              <li>Обратиться к паспортисту (ул. Я. Коласа, 28, общежитие №1, кабинет 110) для оформления регистрации. При себе иметь паспорт, справку из деканата, квитанцию об оплате.</li>
            </ul>
          </p>
          <p>Информацию о квартирах и комнатах, сдающихся внаем, можно получить в профсоюзном комитете студентов (кабинет 311 - 2 учебного корпуса, ул. П. Бровки, 4, телефон: 292-23-59).</p>
          <p>Студентам, которым продлено проживание в общежитии, при заселении в начале учебного года необходимо:
            <ul class="list" style="list-style: decimal">
              <li>Получить/заполнить ордер на заселение у инспектора студенческого городка (общежитие №1, кабинет 109). При себе необходимо иметь 2 фотографии 3х4 (для ордера и пропуска).</li>
              <li>Поставить у паспортиста печать о наличии регистрации (общежитие №1, кабинет 110).</li>
              <li>Пройти медицинский осмотр и поставить печать о прохождении флюорографии (срок действия - не более года).</li>
              <li>Получить пропуск и ключи у заведующего общежитием.</li>
            </ul>
          </p>
          <h1>Оплата за общежитие</h1>
          <p>Сумма оплаты за общежитие у студентов-бюджетников вычитается из стипендии (по их письменным заявлениям).</p>
          <p>Студенты, обучающиеся на платной основе, и студенты, потерявшие право на получение стипендии, должны до 25-ого числа каждого месяца оплачивать и предоставлять квитанцию об оплате воспитателю общежития. В случае несвоевременной оплаты взимается пеня в размере 0,3 % от суммы, начисленной за проживание в общежитии, за каждый день просрочки (пеня начисляется с 26 числа), а также сведения подаются в деканат.</p>
          <p>Оплата всех услуг производится только через ЕРИП (Единое Расчетное Информационное Пространство) - в любом банке, инфокиоске, банкомате, через интернет банкинг.</p>
          <p>«Дерево» расчета с перечнем услуг:
            <ul class="list" style="list-style: decimal">
              <li>Услуги в системе «Расчет» (ЕРИП) – г. Минск – Образование и развитие – ВУЗы – БГУИР – Общежитие</li>
              <li>Расчетный счет:  364 291 828 00 93 АСБ Беларусбанк</li>
              <li>Сумма оплаты:
                <ul>
                  <li> 0,8 базовые величины – общежитие №1</li>
                  <li>0,8 базовые величины – общежитие №2</li>
                  <li>1,2 базовые величины – общежитие №3</li>
                  <li>1,2 базовые величины – общежитие №4</li>
                </ul>
            </ul></p>
            <h1>Освобождение от оплаты за общежитие</h1>
            <p>В соответствии с постановлением Совета Министров Республики Беларусь №444 от 24.03.2008 «О внесении дополнений в постановление Совета Министров Республики Беларусь от 15.09.1999 №1437» от оплаты за общежитие освобождаются следующие категории студентов:
              <ul class="list" style="list-style: square">
                <li>Дети-сироты и дети, оставшиеся без попечения родителей</li>
                <li>Дети-инвалиды в возрасте до 18 лет и инвалиды I и II групп</li>
                <li>Студенты, страдающие онкологическими заболеваниями или больные туберкулезом</li>
                <li>Студенты, у которых родители получили инвалидность или погибли при исполнении служебных обязанностей</li>
              </ul></p>
            <p>Для освобождения от оплаты за общежитие студентам вышеперечисленных категорий необходимо обращаться к социальному педагогу (ул. Гикало, 9, кабинет 324б, телефон - 293 85 75) каждый семестр с 1 по 15 сентября и с 1 по 15 февраля.</p>
            <h1>Контакты студенческого городка</h1>
            <div class="other-box person">
              <div class="post">Начальник студгородка</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Луцкий</div>
                <div class="name">Анатолий Антонович</div>
                <div class="contacts">Адрес: г. Минск, ул. Я. Коласа, 28<br>Общежитие №1, каб. 102<br>Телефон: +375 (17) 293-21-32</div>
              </div>
            </div>

            <div class="other-box person">
              <div class="post">Заместитель начальника студгородка по ИВР</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Рутковская</div>
                <div class="name">Ольга Станиславовна</div>
                <div class="contacts">Адрес: г. Минск, ул. Я. Коласа, 28<br>Общежитие №1, каб. 103<br>Телефон: +375 (17) 293-21-31</div>
              </div>
            </div>

            <div class="other-box person">
              <div class="post">Заведующий общежитием №1</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Наумова</div>
                <div class="name">Светлана Леонидовна</div>
                <div class="contacts">Адрес: г. Минск, ул. Я. Коласа, 28<br>Общежитие №1, каб. 115<br>Телефон: +375 (17) 293-21-48<br>Вахта: +375 (17) 292-31-95, +375 (17) 293-21-42</div>
              </div>
            </div>

            <div class="other-box person">
              <div class="post">Заведующий общежитием №2</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Василевская</div>
                <div class="name">Светлана Петровна</div>
                <div class="contacts">Адрес: г. Минск, ул. Л. Беды, 4<br>Общежитие №2, каб. 100<br>Телефон: +375 (17) 293-22-40<br>Вахта: +375 (17) 331-38-27, +375 (17) 293-22-43</div>
              </div>
            </div>

            <div class="other-box person">
              <div class="post">Заведующий общежитием №3</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Медведева</div>
                <div class="name">Ирина Леонидовна</div>
                <div class="contacts">Адрес: г. Минск, ул. Л. Беды, 2б<br>Общежитие №3, каб. 40<br>Телефон: +375 (17) 290-99-26<br>Вахта: +375 (17) 290-99-27</div>
              </div>
            </div>

            <div class="other-box person">
              <div class="post">Заведующий общежитием №4</div>
              <img src="">
              <div class="person_text">
                <div class="surname">Денисова</div>
                <div class="name">Светлана Михайловна</div>
                <div class="contacts">Адрес: г. Минск, пр-т Дзержинского, 95<br>Общежитие №4, каб. 211<br>Телефон: +375 (17) 277-27-63<br>Вахта: +375 (17) 272-73-53</div>
              </div>
            </div>
        </div>

      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Студенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="schedule"><p>Расписание</p></a>
            <a href="tempstatemnts"><p>Шаблоны заявлений</p></a>
            <a href="dormitoty"><p class="selected">Общежитие</p></a>
            <a href="materialaid"><p>Материальная помощь</p></a>
            <a href="studprivs"><p>Льготы для студентов</p></a>
            <a href="scholarships"><p>Стипендии</p></a>
            <a href="paideducation"><p>Платное обучение</p></a>
            <a href="payreduction"><p>Понижение оплаты</p></a>
            <a href="practice"><p>Практика</p></a>
            <a href="graduationproject"><p>Дипломный проект</p></a>
            <a href="distribution"><p>Распределение</p></a>
            <a href="militarytraining"><p>Военная подготовка</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/>
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
