<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Стипендии</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="#">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>


    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Стипендии</h1><hr></div>
        <div id="article">
          <p>Студентам, обучающимся в университете, назначаются стипендии в соответствии с Инструкцией о порядке назначения и выплаты стипендий студентам высших учебных заведений. Предусмотрены несколько видов стипендий: учебные, социальные, персональные, именные.</p>
          <p>Каждый вид предназначен для определенных категорий учащихся, имеет свои условия назначения и особенности расчета.</p>
          <p>Учебная стипендия назначается в соответствии с успехами в учебе. Размер учебной стипендии зависит от среднего балла успеваемости по результатам экзаменационной сессии, а также от приобретаемой специальности.</p>
          <p>Для студентов, получивших по результатам сессии средние баллы, указанные в таблице, размер стипендии рассчитывается умножением размера базовой стипендии на соответствующий коэффициент.</p>
          <p>За период летних каникул стипендия выплачивается суммарно за весь период каникул до их начала.</p>
          <p>Студентам-инвалидам I и II группы, студентам из числа детей-инвалидов III и IV степени утраты здоровья выплачивается к установленной стипендии надбавка в размере 50 процентов.</p>
          <table class="simple-table">
            <tr><th>Средний балл успеваемости</th><th>Повышающий коэффициент</th><th>Размер стипендии</th></tr>
            <tr><td>от 5.0 до 5.99</td><td>1.0</td><td>55 руб. 46 коп.</td></tr>
            <tr><td>от 6.0 до 7.99</td><td>1.2</td><td>66 руб. 55 коп.</td></tr>
            <tr><td>от 8.0 до 8.99</td><td>1.4</td><td>77 руб. 64 коп.</td></tr>
            <tr><td>от 9.0 до 10.0</td><td>1.6</td><td>88 руб. 73 коп.</td></tr>
          </table>
          <p>Социальная стипендия назначается отдельным категориям успевающих студентов, имеющих средний балл успеваемости ниже установленного для получения стипендии.</p>
          <p>К категории студентов, имеющих право на получение социальной стипендии, относятся лица:
            <ul class="list" style="list-style: square">
              <li>Дети-сироты, дети, оставшиеся без попечения родителей, лица из числа детей-сирот и детей, оставшихся без попечения родителей, а также лица, потерявшие последнего из родителей в период обучения после достижения ими возраста 18 лет;</li>
              <li>Из числа детей из семей военнослужащих, погибших (умерших) или ставших инвалидами во время прохождения военной службы, рабочих и служащих, занимавших штатные должности в воинских частях в составе советских войск на территории государств, в которых велись боевые действия, из семей военнослужащих, погибших (умерших) в мирное время при прохождении военной службы, из семей лиц начальствующего и рядового состава органов внутренних дел, органов и подразделений по чрезвычайным ситуациям, погибших (умерших) либо ставших инвалидами при исполнении служебных обязанностей на территории государств, в которых велись боевые действия, а также погибших (умерших) в мирное время при исполнении служебных обязанностей;</li>
              <li>Из числа бывших военнослужащих, ставших инвалидами вследствие ранения, контузии, увечья или заболевания, полученных при прохождении военной службы;</li>
              <li>Инвалиды;</li>
              <li>Имеющие льготы в соответствии со статьями 18 - 23 Закона Республики Беларусь от 6 января 2009 года "О социальной защите граждан, пострадавших от катастрофы на Чернобыльской АЭС, других радиационных аварий" (Национальный реестр правовых актов Республики Беларусь, 2009 г., N 17, 2/1561);</li>
              <li>Из числа женщин, ставших на учет в женской консультации до 12-недельного срока беременности;</li>
              <li>Имеющие детей;</li>
              <li>Больные туберкулёзом.</li>
            </ul></p>
          <p>Руководитель учебного заведения имеет право назначать социальную стипендию студентам, утратившим право на получение учебной стипендии по результатам экзаменационной сессии, но находящимся в тяжелом материальном положении. Для назначения данного вида стипендии необходимо подать заявление и документы, подтверждающие тяжелое материальное положение. Указанная стипендия назначается не более двух раз за весь период обучения по представлению деканов факультетов и согласованию с профсоюзными, студенческими организациями и комитетом БРСМ в пределах планового стипендиального фонда.</p>
          <p>Стипендии Совета вуза могут получать студенты за особые успехи в изучении отдельных дисциплин и научно-техническом творчестве. В настоящее время в БГУИР назначается данный вид стипендии 60 студентам.</p>
          <p>Именные стипендии устанавливаются студентам, имеющим особые успехи в учебе, научно-исследовательской и общественной работе. Такие стипендии посвящены памяти выдающихся белорусских деятелей и названы их именами. Студентам БГУИР назначаются стипендии имени Ф.Скорины, имени А.Н.Севченко, имени К.Крапивы. Именные стипендии получают 15 студентов.</p>
          <p>За период летних каникул стипендия выплачивается суммарно за весь период.</p>
        </div>

      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Студенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="schedule"><p>Расписание</p></a>
            <a href="tempstatemnts"><p>Шаблоны заявлений</p></a>
            <a href="dormitoty"><p>Общежитие</p></a>
            <a href="materialaid"><p>Материальная помощь</p></a>
            <a href="studprivs"><p>Льготы для студентов</p></a>
            <a href="scholarships"><p class="selected">Стипендии</p></a>
            <a href="paideducation"><p>Платное обучение</p></a>
            <a href="payreduction"><p>Понижение оплаты</p></a>
            <a href="practice"><p>Практика</p></a>
            <a href="graduationproject"><p>Дипломный проект</p></a>
            <a href="distribution"><p>Распределение</p></a>
            <a href="militarytraining"><p>Военная подготовка</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
