<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Общая информация</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="general">Общая информация</a></li>
            <li><a href="deanery">Деканат</a></li>
            <li><a href="location">Расположение</a></li>
            <li><a href="history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="departments">Кафедры</a></li>
            <li><a href="student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Общая информация</h1><hr></div>
        <div id="article">
          <p>Факультет компьютерного проектирования – ФКП – (в прошлом – конструкторско-технологический) открыт в 1973 году. В настоящее время в состав факультета входит 7 кафедр, из них 3 выпускающие. Обучается около 1400 студентов на девяти специальностях ФКП:
            <ul class="list" style="list-style: decimal">
              <li><a href="/enrollee/dapopspecialty">Проектирование и производство программно-управляемых электронных средств</a>;</li>
              <li><a href="/enrollee/macadspecialty">Моделирование и компьютерное проектирование радиоэлектронных средств</a>;</li>
              <li><a href="/enrollee/pmsspecialty">Программируемые мобильные системы</a>;</li>
              <li><a href="/enrollee/seceosspecialty">Программно -управляемые электронно-оптические системы</a>;</li>
              <li><a href="/enrollee/medelspecialty">Медицинская электроника</a>;</li>
              <li><a href="/enrollee/epmoitspecialty">Инженерно-психологическое обеспечение информационных технологий</a>;</li>
              <li><a href="/enrollee/ecsspecialty">Электронные системы безопасности</a>;</li>
              <li><a href="/enrollee/isatieisspecialty">Информационные системы и технологии (в обеспечении промышленной безопасности)</a>;</li>
              <li><a href="/enrollee/isatbmspecialty">Информационные системы и технологии (в бизнес-менеджменте)</a>.</li>
            </ul></p>
            <p>Факультет компьютерного проектирования является одним из самых инновационных и динамически развивающихся. Обучение студентов производится с использованием самого современного оборудования и программного обеспечения на базе созданных на факультете Международных, учебных и научно-производственных центров и лабораторий, таких как: Международный учебно-научный центр «Android Software Center», организованный совместно с компанией FORTE Knowledge Иллинойской технологической ассоциации (ITA) с привлечением IT - специалистов из США; учебно-научно-исследовательский центр «INTES», созданный при поддержке зарубежных компаний Schneider Electric (Франция) и CISCO (США), инновационной компанией «INTES»; совместной учебно-научной лаборатории «Встраиваемые мобильные системы», создаваемой инновационной компанией AXONIM Devices, партнером компаний Analog Devices, Texas Instruments и ST Microelectronics. Все студенты факультета имеют возможность получения сертификатов ведущих зарубежных IT - компаний.</p>
            <p>В этом году на факультете будет открыт совместный с Калифорнийской корпорацией Apple Inc. белорусско-американский учебно-практический центр «APPLE - BSUIR». На стадии завершения переговоры о создании совместных лабораторий с Oracle Corporation и Mentor Graphics. Получая классическое университетское образование, а также серьезную подготовку в области самых современных IT-технологий, выпускники всех специальностей факультета являются одними из самых востребованных и высокооплачиваемых, а лучшие из них занимают руководящие должности как в органах государственного управления, так и в сфере IT - бизнеса, промышленности и банковской системе.</p>
        </div>
      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>О факультете</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="general"><p class="selected">Общая информация</p></a>
            <a href="deanery"><p>Деканат</p></a>
            <a href="location"><p>Расположение</p></a>
            <a href="history"><p>История</p></a>
            <a href=""><p>Фотогалерея</p></a>
            <a href=""><p>Награды</p></a>
            <a href="departments"><p>Кафедры</p></a>
            <a href="student-council"><p>Студсовет</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
    </body>
</html>
