<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Кафедра проектирования информационно-компьютерных систем</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Кафедра проектирования информационно-компьютерных систем</h1><hr></div>
        <div id="article">
          <p>Кафедра конструирования и производства радиоаппаратуры как структурная единица Минского радиотехнического института была организована 15 марта 1964 года. В настоящее время – кафедра проектирования информационно-компьютерных систем.</p>
          <p>Первым заведующим кафедрой был избран академик АН БССР, доктор технических наук, профессор Коновалов Е.Г.</p>
          <p>Кафедра обеспечивала выпуск студентов по специальности 0705 "Конструирование и технология производства радиоэлектронной аппаратуры".</p>
          <p>На кафедре было 6 учебных лабораторий, конструкторский класс, в котором были представлены конструкции радиоаппаратуры, выпускаемой различными предприятиями радиопромышленности Беларуси.</p>
          <p>Обладая незаурядными организаторскими способностями, научными и производственными связями, академик Коновалов Е.Г. своевременно выявлял запросы и проблемы промышленности и определял научные направления кафедры.</p>
          <p>С 2008 года особое внимание уделяется совершенствованию учебно-воспитательного и научно-исследовательского процессов.</p>
          <p>На кафедре открываются впервые в Республике Беларусь новые специальности первой ступени высшего образования:
            <ul class="list" style="list-style: square">
              <li>1-39 03 01 Электронные системы безопасности (2010 год);</li>
              <li>1-39 03 01 Программирование мобильных систем (2013 год);</li>
              <li>1-39 03 01 Информационные системы и технологии (в бизнес-менеджменте) (2014 год).</li>
            </ul></p>
          <p>В 2012 году открыта специальность магистратуры, практико-ориентированное направление – 1-39 81 01 Компьютерные технологии проектирования электронных систем.</p>
          <p>Созданы филиалы кафедры в: ОАО «КБТЭМ-ОМО»; ОАО «Авангардспецмонтаж»; ОАО «Комп и К плюс»; Войсковой части 5529.</p>
          <p>25.10.2012 на базе кафедры открылся первый в Беларуси Международный учебно-научный центр «Android Software Center»</p>
          <p>16.01.2013 на кафедре состоялось открытие учебно-исследовательского центра INTES.</p>
          <p>22.04.2013 ректором БГУИР и президентом Института компьютерных систем (Computer System Institute) был подписан договор о взаимном сотрудничестве в области оказания образовательных услуг жителям США на основе интегрированной подготовки специалистов уровней «Бакалавр», «Специалист», «Магистр».</p>
          <p>В рамках данного договора состоялось торжественное открытие на базе CSI (г.Чикаго, США) филиала кафедры проектирования информационно-компьютерных систем БГУИР.
          <p>04.11.2013 подписан договор об открытии на базе представительства CSI в г.Бостоне (США) филиала кафедры проектирования информационно-компьютерных систем БГУИР.</p>
          <p>18.03.2014 на базе кафедры ПИКС состоялось торжественное открытие учебно-исследовательского центра «Совершенные системы» и академии CISCO.</p>
          <div class="other-box person">
            <div class="post">Заведующий кафедры</div>
            <img src="">
            <div class="person_text">
              <div class="surname">Цырельчук</div>
              <div class="name">Игорь Николаевич</div>
              <div class="academic-degree">Кандидат технических наук, доцент</div>
              <div class="contacts">Адрес: ул. П. Бровки, 6<br>1-й корпус БГУИР, каб. 410<br>Телефоны: +375 (17) 293-86-01<br>Электронная почта: <a href="mailto:tsyrelchuk@bsuir.by">tsyrelchuk@bsuir.by</a></div>
            </div>
          </div>
        </div>
      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>О факультете</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="/faculty/general"><p>Общая информация</p></a>
            <a href="/faculty/deanery"><p>Деканат</p></a>
            <a href="/faculty/location"><p>Расположение</p></a>
            <a href="/faculty/history"><p>История</p></a>
            <a href=""><p>Фотогалерея</p></a>
            <a href=""><p>Награды</p></a>
            <a href="/faculty/departments"><p>Кафедры</p></a>
            <a href="/faculty/student-council"><p>Студсовет</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
    </body>
</html>
