<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Проектирование и производство программно-управляемых электронных средств</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1">
          <h1>Проектирование и производство программно-управляемых электронных средств</h1><hr>
        </div>
        <div id="article">
          <p><font style="text-decoration: underline">Квалификация</font> – инженер-электроник-программист.<br>
            <font style="text-decoration: underline">Формы обучения</font> – дневная (бюджет/платно), заочная (бюджет/платно).</p>
          <h1>Специфика и актуальность</h1>
          <p>Проектирование и производство программно-управляемых электронных средств –
            многопрофильная специальность, связанная с компьютерным
            проектированием многофункциональных электронных средств, включая компьютеры,
            видеосистемы, смартфоны, системы спутниковой навигации и др., имеющих в
            своей основе интегральные схемы и полупроводниковые приборы. В лабораториях
            кафедры электронной техники и технологии, оснащенных современной компьютерной
            техникой, программно-управляемым технологическим и контрольно-испытательным
            оборудованием, микроконтроллерными и мультимедийными системами студенты получают
            знания и практические навыки в различных сферах деятельности.</p>
          <h1>Чему Вы научитесь?</h1>
          <p>Студенты данной специальности получат знания:
            <ul class="list" style="list-style: square">
              <li>По инженерному и компьютерному дизайну современных программно-управляемых
                электронных средств;</li>
              <li>По проектированию электронных средств в системах "AutoCAD", "Altium Designer",
                "Solid Work", "T-Flex" и CAM;</li>
              <li>По объектно-ориентированному программированию на алгоритмических языках C / С++,
                Java  для программного управления электронными средствами и технологическим
                оборудованием;</li>
              <li>В области сетевых технологий обработки информации на базе Академии CISCO.</li>
            </ul>
          </p>
          <h1>Что дальше?</h1>
          <p>Уже в период обучения студенты специальности имеют возможность работать
            по специальности на белорусских и совместных предприятиях и фирмах, заниматься
            научно-исследовательской работой, а также могут работать на должностях специалистов
            по тестированию и сопровождению программного обеспечения.</p>
          <p>Выпускники с квалификацией «инженер-электроник-программист»
            в наибольшей степени востребованы для работы в научных подразделениях отраслевых и
            академических научно – исследовательских институтов, в проектно-конструкторских
            организациях, на предприятиях и фирмах, где проектируют, производят и эксплуатируют
            программно-управляемые электронные средства, в компаниях-резидентах Парка высоких
            технологий, а также имеют возможность продолжить обучение в магистратуре, аспирантуре
            и докторантуре с присвоением ученой степени магистра, кандидата и доктора наук.</p>
          <h1>Изучаемые дисциплины:</h1>
          <table class="stud-discip">
            <tr><th>№</th><th>Дисциплина</th><th>Кол-во часов (всего)</th><th>Кол-во аудиторных часов</th></tr>
            <tr><td>1</td><td>Безопасность жизнедеятельности человека</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>2</td><td>Белорусский язык (культура речи)</td><td>36.0</td><td>18.0</td></tr>
            <tr><td>3</td><td>Диагностика и управление технологическими системами</td><td>180.0</td><td>72.0</td></tr>
            <tr><td>4</td><td>Иностранный язык</td><td>252.0</td><td>120.0</td></tr>
            <tr><td>5</td><td>Интегрированные автоматизированные технологические комплексы</td><td>180.0</td><td>72.0</td></tr>
            <tr><td>6</td><td>Информационные технологии проектирования электронных устройств</td><td>344.0</td><td>144.0</td></tr>
            <tr><td>7</td><td>История</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>8</td><td>Логика</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>9</td><td>Маркетинг программных продуктов и услуг</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>10</td><td>Математика</td><td>720.0</td><td>340.0</td></tr>
            <tr><td>11</td><td>Математические методы в проектировании изделий электроники</td><td>184.0</td><td>84.0</td></tr>
            <tr><td>12</td><td>Материаловедение</td><td>180.0</td><td>86.0</td></tr>
            <tr><td>13</td><td>Метрология, стандартизация и сертификация в радиоэлектронике</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>14</td><td>Начертательная геометрия и инженерная графика</td><td>196.0</td><td>86.0</td></tr>
            <tr><td>15</td><td>Основы алгоритмизации и программирования</td><td>288.0</td><td>120.0</td></tr>
            <tr><td>16</td><td>Основы бизнеса и права в радиоэлектронике</td><td>172.0</td><td>76.0</td></tr>
            <tr><td>17</td><td>Основы защиты информации</td><td>94.0</td><td>52.0</td></tr>
            <tr><td>18</td><td>Основы радиоэлектроники</td><td>220.0</td><td>102.0</td></tr>
            <tr><td>19</td><td>Политология</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>20</td><td>Прикладные пакеты векторной графики</td><td>62.0</td><td>34.0</td></tr>
            <tr><td>21</td><td>Программно-управляемое технологическое оборудование</td><td>286.0</td><td>124.0</td></tr>
            <tr><td>22</td><td>Программно-управляемые микроконтроллерные устройства</td><td>312.0</td><td>160.0</td></tr>
            <tr><td>23</td><td>Программно-управляемые электронные средства</td><td>108.0</td><td>64.0</td></tr>
            <tr><td>24</td><td>Программное обеспечение электронных средств</td><td>252.0</td><td>114.0</td></tr>
            <tr><td>25</td><td>Проектирование и производство изделий интегральной электроники</td><td>252.0</td><td>112.0</td></tr>
            <tr><td>26</td><td>Проектирование программно-управляемых электронных средств</td><td>300.0</td><td>144.0</td></tr>
            <tr><td>27</td><td>Производственная практика (преддипломная)</td><td>240.0</td><td>0.0</td></tr>
            <tr><td>28</td><td>Производственная практика (технологическая)</td><td>240.0</td><td>0.0</td></tr>
            <tr><td>29</td><td>Сетевые технологии обработки и передачи информации</td><td>90.0</td><td>48.0</td></tr>
            <tr><td>30</td><td>Схемотехника электронных устройств</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>31</td><td>Теория вероятностей и математическая статистика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>32</td><td>Теория электрических цепей</td><td>90.0</td><td>52.0</td></tr>
            <tr><td>33</td><td>Техническая механика</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>34</td><td>Технология деталей радиоэлектронных средств</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>35</td><td>Технология программно-управляемых электронных средств</td><td>312.0</td><td>144.0</td></tr>
            <tr><td>36</td><td>Физика</td><td>476.0</td><td>204.0</td></tr>
            <tr><td>37</td><td>Физико-химические основы микро- и наноэлектроники</td><td>154.0</td><td>68.0</td></tr>
            <tr><td>38</td><td>Физическая культура</td><td>400.0</td><td>400.0</td></tr>
            <tr><td>39</td><td>Философия</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>40</td><td>Химия</td><td>162.0</td><td>68.0</td></tr>
            <tr><td>41</td><td>Экономика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>42</td><td>Электронные компоненты</td><td>198.0</td><td>84.0</td></tr>
            <tr><td>43</td><td>Электронные приборы</td><td>190.0</td><td>86.0</td></tr>
          </table>
          <p>Выпускающая кафедра – <a href="/faculty/departments/electronic-engineering-and-technologies">Кафедра электронной техники и технологии</a>.</p>
        </div>
      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Абитуриенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="specialties"><p>Специальности</p></a>
            <a href="location"><p>Расположение корпусов</p></a>
            <a href="introductory-campaign"><p>Вступительная кампания</p></a>
            <a href="passingscores"><p>Проходные баллы</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
