<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <title>Информационные системы и технологии(в бизнес-менеджменте)</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Информационные системы и технологии (в бизнес-менеджменте)</h1><hr></div>
        <div id="article">
          <p><font style="text-decoration: underline">Квалификация</font> – Программист. Бизнес-аналитик.<br>
            <font style="text-decoration: underline">Формы обучения</font> – дневная (бюджет/платно), дистанционная (платно).</p>
          <h1>Специфика и актуальность</h1>
          <p>Бурное развитие IT-технологий, коммуникационных систем, программного обеспечения,
            обусловило углубление и расширение процессов информатизации общества, создание и внедрение
            на предприятии современных информационных технологий.</p>
          <p>Качество и эффективность управления компанией во многом зависит от уровня информационного
            обеспечения бизнес-менеджмента всех уровней. Существование и развитие любого субъекта бизнеса
            происходят в условиях обостряющейся конкуренции. От бизнесменов требуется умение принимать
            максимально взвешенные решения и определять оптимальные управленческие и финансовые стратегии.
            Менеджмент на любом уровне является сложной комплексной системой.</p>
          <p>Существенными признаками новой специальности, отличающей её от смежных специальностей,
            являются:
            <ul class="list" style="list-style: square">
              <li>Разработка алгоритмов бизнес-анализа и управления деятельностью на основе современных
                системных подходов, включающих моделирование, методы оптимизации и исследование операций,
                методы устойчивого развития, технику прогнозов и рисков, теорию управления и принятия
                решений, теорию игр и конфликтов, экспертную оценку и др.;</li>
              <li>Объединение (c использованием компьютерных технологий) данных из всех информационных
                источников субъекта бизнеса (компании) и обеспечение возможности моментального анализа
                их с помощью единого инструмента - системного подхода, т. е. создание баз данных и
                инструмента доступа к ним, пополнения, изменения информации и использования этих баз
                данных для принятия оптимальных управленческих решений;</li>
              <li>Разработка для субъекта бизнеса (компании) универсальной компьютерной системы анализа
                и управления деятельностью бизнеса, включающей базы данных, инструмент управления ими,
                а также математический инструментарий принятия оптимальных решений, в том числе в условиях
                неопределённости и ограниченности информации.</li>
            </ul>
          </p>
          <p>Качественное информационное обеспечение любого процесса управления бизнесом возможно только
            при использовании в полной мере IT-технологий.</p>
          <p>Республика Беларусь остро нуждается в разработке информационных систем в бизнес-менеджменте.
            Эти системы во многом универсальны и могут применяться в различных сферах хозяйственной и
            общественной жизни для решения широкого круга задач. Их применение позволит снизить себестоимость
            продукции и повысить прибыль субъектов бизнеса. Актуальность разработки и внедрения систем
            бизнес-менеджмента возрастает в связи с вступлением Республика Беларусь в Таможенный союз,
            интеграцией экономики Республика Беларусь в мировую экономику, требованием повышения эффективности
            внешних инвестиций.</p>
          <p>В Республике Беларусь и в странах СНГ нет специальности по подготовке специалистов - разработчиков
            информационных систем и технологий для бизнес-менеджмента, которые обладали бы признаками
            универсальности и позволили бы комплексно и оптимально решать задачи бизнеса в различных сферах
            хозяйственной, культурной и общественной жизни. Наличие таких специалистов способствует более
            эффективной работе субъектов бизнеса и развитию экономики страны.</p>
          <p>Делегация БГУИР в составе ректора университета Михаила Павловича Батуры и заведующего кафедрой
            проектирования информационно-компьютерных систем Игоря Николаевича Цырельчука с 28 октября по 1
            ноября находилась с рабочим визитом в представительстве Института компьютерных систем (Computer
            System Institute) в городе Бостон (штат Массачусетс, США). По результатам работы 31 октября
            ректором БГУИР и президентом CSI был подписан договор об открытии на базе представительства CSI
            в г.Бостон филиала кафедры проектирования информационно-компьютерных систем БГУИР. 1 ноября 2013
            года на совещании представителей БГУИР и CSI было принято решение реализовать идею открытия новой
            специальности в БГУИР «Информационные системы и технологии (в бизнес-менеджменте)» и начать
            обучение по дисциплинам этой специальности с 2014 года.</p>
          <p>Специальность «Информационные системы и технологии (в бизнес-менеджменте)» является новой и
            актуальной не только в Республике Беларусь, но и во всем мире. Набор на нее открыт с 2014 года.
            БГУИР единственный вуз в Беларуси, который готовит специалистов по данному направлению.</p>
          <p>Большой интерес к подготовке специалистов, имеющих квалификацию «Программист. Бизнес-аналитик»
            проявили ведущие компании и университеты США.</p>
          <p>При подготовке студентов этой специальности будут использованы возможности Центра видеоконференцсвязи
            университета для обучения новейшим IT-технологиям ведущими специалистами университетов США,
            Европейских стран и БГУИР. Занятия будут проводится на базе Международного учебно-научного центра
            «Android Software Center», созданного на нашей кафедре совместно с компанией FORTE Knowledge
            Иллинойской технологической ассоциации (ITA) с привлечением IT - специалистов из США. Студенты
            могут пользоваться техникой и потенциалом совместной учебно-научной лаборатории «Встраиваемые
            мобильные системы», созданной на кафедре ПИКС совместно с инновационной компанией «AXONIM Devices»
            и партнерами таких известных компаний как «Analog Devices», «Texas Instruments» и «ST Microelectronics».</p>
          <h1>Чему Вы научитесь?</h1>
          <p>Студенты специальности «Информационные системы и технологии (в бизнес-менеджменте)» получат знания по:
          <ul class="list" style="list-style: square">
            <li>Основам бизнеса и права в информационных технологиях;</li>
            <li>Основам защиты информации;</li>
            <li>Операционным системам;</li>
            <li>Компьютерным сетям;</li>
            <li>Языкам программирования;</li>
            <li>Программированию сетевых приложений;</li>
            <li>Базам данных;</li>
            <li>Системному анализу и управлению;</li>
            <li>Визуальным средствам разработки программных приложений;</li>
            <li>Средствам и технологиям анализа и разработки информационных систем;</li>
            <li>Распределенным информационным системам;</li>
            <li>Web-дизайну и шаблонам проектирования;</li>
            <li>Экономико-математическим методам и моделям;</li>
            <li>Бизнес-анализу;</li>
            <li>Эконометрике.</li>
          </ul></p>
          <p>Это позволит:
          <ul class="list" style="list-style: square">
            <li>Проводить бизнес-анализ и системный анализ, разрабатывать и обосновывать проектные решения;</li>
            <li>Моделировать, проектировать, разрабатывать и применять программные средства поддержки решений
              задач в бизнесе и менеджменте;</li>
            <li>Разрабатывать средств анализа и управления бизнесом и менеджментом;</li>
            <li>Применять специализированные методы и информационные системы для обоснования, выбора, и принятия
              управленческих решений;</li>
            <li>На научной основе организовать свой труд, применять информационные системы и технологии в
              профессиональной деятельности.</li>
          </ul></p>
          <h1>Что дальше?</h1>
          <p>Основными местами распределения выпускников являются компании и организации IT-индустрии. Выпускники
            будут работать над современными и интересными проектами, используя передовые достижения в области
            информационных технологий.</p>
          <p>Лучших ожидают стажировки в компаниях и университетах по всему миру. Помните, что представители
            IT-бизнеса и IT-менеджмента самые востребованные специалисты во всем мире!</p>
          <h1>Изучаемые дисциплины:</h1>
          <table class="stud-discip">
            <tr><th>№</th><th>Дисциплина</th><th>Кол-во часов (всего)</th><th>Кол-во аудиторных часов</th></tr>
            <tr><td>1</td><td>Базы данных</td><td>162.0</td><td>66.0</td></tr>
            <tr><td>2</td><td>Безопасность жизнедеятельности человека</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>3</td><td>Белорусский язык (культура речи)</td><td>36.0</td><td>18.0</td></tr>
            <tr><td>4</td><td>Бизнес-планирование, инновационные и антикризисные стратегии развития</td><td>178.0</td><td>70.0</td></tr>
            <tr><td>5</td><td>Визуальные средства разработки программных приложений</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>6</td><td>Внешнеэкономическая деятельность и таможенное регулирование</td><td>108.0</td><td>56.0</td></tr>
            <tr><td>7</td><td>Встраиваемые микропроцессорные системы</td><td>126.0</td><td>64.0</td></tr>
            <tr><td>8</td><td>Дискретная математика</td><td>126.0</td><td>68.0</td></tr>
            <tr><td>9</td><td>Инженерная компьютерная графика</td><td>96.0</td><td>52.0</td></tr>
            <tr><td>10</td><td>Иностранный язык</td><td>252.0</td><td>120.0</td></tr>
            <tr><td>11</td><td>Интеллектуальные информационные системы в экономике</td><td>124.0</td><td>64.0</td></tr>
            <tr><td>12</td><td>Информационные системы анализа и управления</td><td>126.0</td><td>48.0</td></tr>
            <tr><td>13</td><td>История</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>14</td><td>Компьютерные сети</td><td>150.0</td><td>66.0</td></tr>
            <tr><td>15</td><td>Креативные технологии бизнеса</td><td>144.0</td><td>72.0</td></tr>
            <tr><td>16</td><td>Криптография и охрана коммерческой информации</td><td>88.0</td><td>48.0</td></tr>
            <tr><td>17</td><td>Логика</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>18</td><td>Маркетинг программного продукта и услуг</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>19</td><td>Математика</td><td>720.0</td><td>340.0</td></tr>
            <tr><td>20</td><td>Математические методы в программировании</td><td>140.0</td><td>68.0</td></tr>
            <tr><td>21</td><td>Менеджмент</td><td>306.0</td><td>148.0</td></tr>
            <tr><td>22</td><td>Метрология, стандартизация и сертификация в информационных технологиях</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>23</td><td>Микро-макро экономика</td><td>234.0</td><td>110.0</td></tr>
            <tr><td>24</td><td>Моделирование и анализ бизнес-процессов</td><td>144.0</td><td>64.0</td></tr>
            <tr><td>25</td><td>Надежность программного обеспечения</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>26</td><td>Облачные инфокоммуникационные технологии и пакетизация услуг</td><td>128.0</td><td>46.0</td></tr>
            <tr><td>27</td><td>Объектно-ориентированное программирование</td><td>308.0</td><td>128.0</td></tr>
            <tr><td>28</td><td>Операционные системы</td><td>120.0</td><td>50.0</td></tr>
            <tr><td>29</td><td>Основы алгоритмизации и программирования</td><td>288.0</td><td>120.0</td></tr>
            <tr><td>30</td><td>Основы бизнеса и права в информационных технологиях</td><td>172.0</td><td>76.0</td></tr>
            <tr><td>31</td><td>Основы защиты информации</td><td>94.0</td><td>52.0</td></tr>
            <tr><td>32</td><td>Основы информационно-аналитической деятельности</td><td>198.0</td><td>100.0</td></tr>
            <tr><td>33</td><td>Основы конструирования программ</td><td>64.0</td><td>34.0</td></tr>
            <tr><td>34</td><td>Основы программирования информационных систем</td><td>118.0</td><td>60.0</td></tr>
            <tr><td>35</td><td>Политология</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>36</td><td>Программирование сетевых приложений</td><td>160.0</td><td>64.0</td></tr>
            <tr><td>37</td><td>Проектирование информационных систем</td><td>100.0</td><td>60.0</td></tr>
            <tr><td>38</td><td>Разработка программных приложений для бизнес-анализа</td><td>140.0</td><td>64.0</td></tr>
            <tr><td>39</td><td>Распределенные информационные системы</td><td>360.0</td><td>160.0</td></tr>
            <tr><td>40</td><td>Современные технологии проектирование информационных систем</td><td>216.0</td><td>106.0</td></tr>
            <tr><td>41</td><td>Средства и технологии анализа и разработки информационных систем</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>42</td><td>Теория вероятностей и математическая статистика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>43</td><td>Тестирование, оценка программного обеспечения</td><td>126.0</td><td>64.0</td></tr>
            <tr><td>44</td><td>Управление проектами</td><td>56.0</td><td>30.0</td></tr>
            <tr><td>45</td><td>Физика</td><td>198.0</td><td>84.0</td></tr>
            <tr><td>46</td><td>Физическая культура</td><td>400.0</td><td>400.0</td></tr>
            <tr><td>47</td><td>Философия</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>48</td><td>Экономика</td><td>144.0</td><td>60.0</td></tr>
          </table>
          <p>Выпускающая кафедра – <a href="/faculty/departments/design-info-and-computer-systems">Кафедра проектирования информационно-компьютерных систем</a>.</p>
        </div>
      </div>
       <div id="container-also">
        <div class="box-name-1"><h1>Абитуриенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="specialties"><p>Специальности</p></a>
            <a href="location"><p>Расположение корпусов</p></a>
            <a href="introductory-campaign"><p>Вступительная кампания</p></a>
            <a href="passingscores"><p>Проходные баллы</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
