<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Медицинская электроника</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Медицинская электроника</h1><hr></div>
        <div id="article">
          <p><font style="text-decoration: underline">Квалификация</font> – инженер электроник-программист.<br>
          <font style="text-decoration: underline">Форма обучения</font> – дневная (бюджет/платно).</p>
          <h1>Специфика и актуальность</h1>
          <p>Студенты специальности Медицинская электроника, находящейся на стыке информатики, физики,
            биологии и медицины, за время обучения получают умения и навыки, которые позволят им решить
            важнейшие задачи медицины и электронной техники.</p>
          <p>Наряду со специалистами БГУИР к обучению студентов привлекаются ведущие специалисты БГМУ,
            Республиканского научно-практического центра неврологии и нейрохирургии, Белорусской
            медицинской академии последипломного образования, НАН Беларуси.</p>
          <p>В современных исследовательских лабораториях, оснащенных передовой медицинской техникой,
            аппаратным и программным обеспечением, студенты:
          <ul class="list" style="list-style: square">
            <li>Проектируют программируемые многофункциональные устройства для медицинской диагностики
              и терапии в прикладных пакетах Altium Designer, Micro-Cap, MultiSim;</li>
            <li>Создают программное обеспечение на языках программирования C/C++, Java, Objective C,
              VHDL;</li>
            <li>Работают с микропроцессорными архитектурами ARM, x86, 8051;</li>
            <li>Изучают схемотехническое и конструкторское проектирование в прикладных пакетах AutoCAD,
              T-FLEX, SolidWorks;</li>
            <li>Получают навыки по обработке информации с применением сетевых технологий CISCO;</li>
            <li>Занимаются теоретическими и экспериментальными исследованиями с помощью пакетов COMSOL
              Multiphysics, MATLAB, ElCut, Maple, MathCAD и Mathematica.</li>
          </ul></p>
          <h1>Чему можно научиться?</h1>
          <p>Основные дисциплины специальности:
            <ul class="list" style="list-style: square">
              <li>Проектирование на основе микроконтроллеров;</li>
              <li>Информационные технологии проектирования электронных устройств;</li>
              <li>Информационные технологии в обработке и анализе медико-биологических данных;</li>
              <li>Цифровая обработка биомедицинских сигналов и изображений;</li>
              <li>Электронные компоненты и биомедицинские сенсоры Программирование мобильных приложений;</li>
              <li>Биотехнические системы программного управления;</li>
              <li>Основы защиты информации;</li>
              <li>Электронные медицинские аппараты, системы и комплексы.</li>
            </ul>
          </p>
          <h1>Что дальше?</h1>
          <p>Все студенты специальности находят себе работу, которая позволяет не только в полной мере
            раскрыть свой профессиональный потенциал, но и обеспечить свое материальное благосостояние.
            Наши выпускники работают в государственных и частных учреждениях: проектно-конструкторских
            организациях, занимающихся исследованиями, разработкой и производством изделий медицинской
            техники, в компаниях-резидентах Парка высоких технологий, занимающихся разработкой и поддержкой
            специализированных медицинских информационных систем и программного обеспечения, в клиниках в
            качестве специалистов по закупке и обслуживанию медицинской техники, в компаниях-поставщиках
            медицинского оборудования в качестве менеджеров по продажам и сервис-инженеров медицинской техники.
            Выпускники специальности получают квалификацию инженер-электроник-программист и имеют возможность
            продолжить обучение в магистратуре по специальности "Приборы, системы и изделия медицинского
            назначения".</p>
          <h1>Изучаемые дисциплины:</h1>
          <table class="stud-discip">
            <tr><th>№</th><th>Дисциплина</th><th>Кол-во часов (всего)</th><th>Кол-во аудиторных часов</th></tr>
            <tr><td>1</td><td>Безопасность жизнедеятельности человека</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>2</td><td>Белорусский язык (культура речи)</td><td>36.0</td><td>18.0</td></tr>
            <tr><td>3</td><td>Биотехнические системы программного управления</td><td>216.0</td><td>96.0</td></tr>
            <tr><td>4</td><td>Иностранный язык</td><td>273.0</td><td>180.0</td></tr>
            <tr><td>5</td><td>Информационные технологии в обработке и анализе медико-биологических данных</td><td>144.0</td><td>64.0</td></tr>
            <tr><td>6</td><td>Информационные технологии проектирования электронных устройств</td><td>344.0</td><td>144.0</td></tr>
            <tr><td>7</td><td>История</td><td>44.0</td><td>34.0</td></tr>
            <tr><td>8</td><td>Конструирование электронных средств</td><td>162.0</td><td>64.0</td></tr>
            <tr><td>9</td><td>Лазерная биомедицина и биомедицинская оптика</td><td>126.0</td><td>66.0</td></tr>
            <tr><td>10</td><td>Логика</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>11</td><td>Маркетинг программного продукта и услуг</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>12</td><td>Математика</td><td>526.0</td><td>340.0</td></tr>
            <tr><td>13</td><td>Материаловедение</td><td>180.0</td><td>86.0</td></tr>
            <tr><td>14</td><td>Метрология, стандартизация и сертификация в радиоэлектронике</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>15</td><td>Начертательная геометрия и инженерная графика</td><td>196.0</td><td>86.0</td></tr>
            <tr><td>16</td><td>Обслуживание, диагностика и ремонт средств медицинской электроники</td><td>108.0</td><td>56.0</td></tr>
            <tr><td>17</td><td>Основы алгоритмизации и программирования</td><td>197.0</td><td>137.0</td></tr>
            <tr><td>18</td><td>Основы анатомии и физиологии</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>19</td><td>Основы бизнеса и права в радиоэлектронике</td><td>172.0</td><td>76.0</td></tr>
            <tr><td>20</td><td>Основы биофизики</td><td>88.0</td><td>42.0</td></tr>
            <tr><td>21</td><td>Основы защиты информации</td><td>94.0</td><td>52.0</td></tr>
            <tr><td>22</td><td>Основы радиоэлектроники</td><td>220.0</td><td>102.0</td></tr>
            <tr><td>23</td><td>Политология</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>24</td><td>Программирование мобильных приложений</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>25</td><td>Программно-управляемые микроконтроллерные устройства</td><td>312.0</td>  <td>160.0</td></tr>
            <tr><td>26</td><td>Программное обеспечение информационных технологий</td><td>308.0</td><td>136.0</td></tr>
            <tr><td>27</td><td>Производственная практика (преддипломная)</td><td>0.0</td><td>0.0</td></tr>
            <tr><td>28</td><td>Производственная практика (технологическая)</td><td>0.0</td><td>0.0</td></tr>
            <tr><td>29</td><td>Сертификация средств медицинской электроники</td><td>90.0</td><td>52.0</td></tr>
            <tr><td>30</td><td>Схемотехника аналоговых устройств</td><td>144.0</td><td>84.0</td></tr>
            <tr><td>31</td><td>Телемедицина</td><td>80.0</td><td>40.0</td></tr>
            <tr><td>32</td><td>Теория вероятностей и математическая статистика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>33</td><td>Теория электрических цепей</td><td>90.0</td><td>52.0</td></tr>
            <tr><td>34</td><td>Техническая механика</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>35</td><td>Технология средств медицинской техники</td><td>196.0</td><td>84.0</td></tr>
            <tr><td>36</td><td>Физика</td><td>384.0</td><td>220.0</td></tr>
            <tr><td>37</td><td>Физическая культура</td><td>409.0</td><td>400.0</td></tr>
            <tr><td>38</td><td>Философия</td><td>92.0</td><td>76.0</td></tr>
            <tr><td>39</td><td>Химия</td><td>66.0</td><td>84.0</td></tr>
            <tr><td>40</td><td>Цифровая обработка биомедицинских сигналов и изображений</td><td>200.0</td><td>96.0</td></tr>
            <tr><td>41</td><td>Экономика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>42</td><td>Электронные компоненты и биомедицинские сенсоры</td><td>198.0</td><td>82.0</td></tr>
            <tr><td>43</td><td>Электронные медицинские аппараты, системы и комплексы</td><td>272.0</td><td>132.0</td></tr>
            <tr><td>44</td><td>Электронные приборы</td><td>190.0</td><td>86.0</td></tr>
            <tr><td>45</td><td>Электронные средства лабораторной диагностики, электронной диагностики и экологического контроля</td><td>342.0</td><td>142.0</td></tr>
          </table>
          <p>Выпускающая кафедра – <a href="/faculty/departments/electronic-engineering-and-technologies">Кафедра электронной техники и технологии</a>.</p>
        </div>
      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Абитуриенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="specialties"><p>Специальности</p></a>
            <a href="location"><p>Расположение корпусов</p></a>
            <a href="introductory-campaign"><p>Вступительная кампания</p></a>
            <a href="passingscores"><p>Проходные баллы</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
