<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Программируемые мобильные системы</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Программируемые мобильные системы</h1><hr></div>
        <div id="article">
          <p><font style="text-decoration: underline">Квалификация</font> – инженер по электронным системам.<br>
          <font style="text-decoration: underline">Формы обучения</font> – дневная (бюджет, платная), дистанционная (платная),
          сокращённая заочная форма получения высшего образования, интегрированного со средним специальным образованием (платно).</p>
          <h1>Специфика и актуальность</h1>
          <p>Стремительный рост популярности во всем мире мобильной электроники диктует необходимость подготовки специалистов,
            которые смогли бы проектировать мобильные системы и разрабатывать к ним соответствующие приложения.</p>
          <p>Специальность «Программируемые мобильные системы» является новой и актуальной не только в Республики Беларусь,
            но и во всем мире. Набор на неё открыт в 2013 году.</p>
          <p>В программировании (или перепрограммировании) микропроцессорной или компьютерной техники, встраиваемой в
            аппаратно-программные комплексы и системы с учётом большого количества задач по контролю и управлению процессами
            и объектами различной физической природы.</p>
          <p>«Программируемые мобильные системы» - первая и пока единственная в Республике Беларусь специальность, обучающая
            программированию аппаратной части мобильных устройств и разработке программного обеспечения для встраиваемых мобильных
            систем на базе Android, iOS, Linux, FreeRTOS, eCOS, WindowsPhone.</p>
          <p>При подготовке студентов этой специальности широко используются возможности Центра видеоконференцсвязи университета
            для обучения новейшим IT-технологиям ведущими специалистами зарубежных компаний и университетов. Занятия проводятся
            на базе Международного учебно-научного центра «Android Software Center», созданного 25.10.2012 на кафедре проектирования
            информационно-компьютерных систем совместно с компанией FORTE Knowledge Иллинойской технологической ассоциации (ITA)
            с привлечением IT-специалистов из США.</p>
          <p>У студентов специальности ПМС имеется возможность тесного сотрудничества со студентами аналогичных специальностей
            зарубежных учебных заведений, например Computer System Institute (США), что помогает добиться отличных результатов
            в освоении современных тенденций информационных технологий (IT), а также повысить уровень владения иностранным языком.
            Студенты могут пользоваться техникой и потенциалом кафедральной совместной учебно-научной лаборатории «Встраиваемые
            мобильные системы», созданной инновационной компанией «AXONIM Devices», партнером таких известных компаний как «Analog
            Devices», «Texas Instruments» и «ST Microelectronics». Основной образовательной целью этой лаборатории является обучение
            студентов технологиям внедрения встраиваемых и конфигурируемых операционных систем FreeRTOS, eCOS, Linux, Android,
            WindowsCompactEmbedded в мобильные технические средства на базе современных микропроцессоров с архитектурами ARM,
            CortexM, CortexA, разработке многофункциональных приложений на их основе и проектированию мобильных технических и
            программных средств.</p>
          <h1>Чему Вы научитесь?</h1>
          <p>Студенты данной специальности получат знания по:
          <ul class="list" style="list-style: square">
            <li>Основам алгоритмизации и программированию;</li>
            <li>Методам структурной и функциональной организации аппаратно-программных электронных систем и комплексов;</li>
            <li>Функционированию цифровых и микропроцессорных устройств;</li>
            <li>Технологии разработки программного обеспечения мобильных электронных систем и Интернет-приложений;</li>
            <li>Языкам программирования встроенных микропроцессорных систем;</li>
            <li>Архитектуре микроконтроллеров и их программированию для мобильных электронных систем и комплексов;</li>
            <li>Новейшим операционным системам и системному программированию;</li>
            <li>Методам прогнозирования надёжности аппаратных и программных средств мобильных электронных систем;</li>
            <li>Особенностям конструкторско-технологического проектирования мобильных электронных систем.</li>
          </ul></p>
          <p>Это позволит:
          <ul class="list" style="list-style: square">
            <li>Программировать и тестировать встраиваемые в аппаратно-программные комплексы (системы) микропроцессорную
              технику и/или компьютеры для решения конкретных функциональных задач, возлагаемых на комплексы (системы);</li>
            <li>Обеспечивать с помощью программных методов возможность мобильного применения аппаратно-программных комплексов
              и систем при их эксплуатации.</li>
          </ul></p>
          <h1>Что дальше?</h1>
          <p>С развитием инновационной экономики и рынка информационных технологий потребность в IT-специалистах будет
            только расти. Разработка мобильных устройств и технологий, а также программного обеспечения, поддерживаемого
            данными устройствами, является самостоятельной отраслью IT, где уже создано и продолжает создаваться большое
            количество рабочих мест для подготовленных специалистов. Отрасль нуждается в сотнях тысяч квалифицированных
            работниках, с зарплатой в десятки раз превышающей среднюю зарплату.</p>
          <p>Основными местами распределения выпускников являются IT-компании резиденты Парка высоких технологий и другие
            организации IT-индустрии. Выпускники будут работать над современными и интересными проектами, используя передовые
            достижения в области информационных технологий.</p>
          <p>Лучших ожидают стажировки в компаниях и университетах по всему миру.  Помните, представители IT-бизнеса эта самая
            активная и инновационная часть современного общества!</p>
          <h1>Изучаемые дисциплины:</h1>
          <table class="stud-discip">
            <tr><th>№</th><th>Дисциплина</th><th>Кол-во часов (всего)</th><th>Кол-во аудиторных часов</th></tr>
            <tr><td>1</td><td>Безопасность в компьютерных сетях</td><td>144.0</td><td>64.0</td></tr>
            <tr><td>2</td><td>Безопасность жизнедеятельности человека</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>3</td><td>Белорусский язык (культура речи)</td><td>36.0</td><td>18.0</td></tr>
            <tr><td>4</td><td>Введение в компьютерные системы и сети</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>5</td><td>Встраиваемые микропроцессорные системы</td><td>126.0</td><td>64.0</td></tr>
            <tr><td>6</td><td>Вычислительные алгоритмы в программировании</td><td>194.0</td><td>82.0</td></tr>
            <tr><td>7</td><td>Диагностирование программного и аппаратного обеспечения мобильных систем</td><td>162.0</td><td>64.0</td></tr>
            <tr><td>8</td><td>Дискретная математика</td><td>162.0</td><td>68.0</td></tr>
            <tr><td>9</td><td>Земля, окружающая среда и её глобальные изменения</td><td>162.0</td><td>68.0</td></tr>
            <tr><td>10</td><td>Инженерная компьютерная графика</td><td>96.0</td><td>52.0</td></tr>
            <tr><td>11</td><td>Иностранный язык</td><td>252.0</td><td>120.0</td></tr>
            <tr><td>12</td><td>История</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>13</td><td>Логика</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>14</td><td>Маркетинг программных продуктов и услуг</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>15</td><td>Математика</td><td>720.0</td><td>340.0</td></tr>
            <tr><td>16</td><td>Математические методы в программировании</td><td>140.0</td><td>68.0</td></tr>
            <tr><td>17</td><td>Метрология, стандартизация и сертификация в радиоэлектронике</td><td>60.0</td><td>34.0</td></tr>
            <tr><td>18</td><td>Мобильные вычислительные системы</td><td>360.0</td><td>168.0</td></tr>
            <tr><td>19</td>  <td>Операционные системы мобильных устройств</td><td>180.0</td>  <td>72.0</td></tr>
            <tr><td>20</td><td>Организация информационно-компьютерных систем и сетей</td><td>238.0</td><td>118.0</td></tr>
            <tr><td>21</td><td>Основы алгоритмизации и программирования</td><td>288.0</td><td>120.0</td></tr>
            <tr><td>22</td><td>Основы бизнеса и права в информационных технологиях</td><td>172.0</td><td>76.0</td></tr>
            <tr><td>23</td><td>Основы защиты информации</td><td>94.0</td><td>52.0</td></tr>
            <tr><td>24</td><td>Основы компьютерной техники и программирования мобильных электронных систем</td><td>108.0</td><td>46.0</td></tr>
            <tr><td>25</td><td>Основы радиоэлектроники</td><td>220.0</td><td>102.0</td></tr>
            <tr><td>26</td><td>Политология</td><td>72.0</td><td>34.0</td></tr>
            <tr><td>27</td><td>Прикладные пакеты векторной графики</td><td>62.0</td><td>34.0</td></tr>
            <tr><td>28</td><td>Программирование микроконтроллеров для мобильных электронных систем</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>29</td><td>Программное обеспечение мобильных систем</td><td>324.0</td><td>150.0</td></tr>
            <tr><td>30</td><td>Производственная практика (преддипломная)</td><td>0.0</td><td>0.0</td></tr>
            <tr><td>31</td><td>Производственная практика (технологическая)</td><td>0.0</td><td>0.0</td></tr>
            <tr><td>32</td><td>Разработка Web-приложений для мобильных систем</td><td>90.0</td><td>44.0</td></tr>
            <tr><td>33</td><td>Разработка приложений для операционных систем</td><td>98.0</td><td>56.0</td></tr>
            <tr><td>34</td><td>Разработка приложений на языке Java</td><td>288.0</td><td>136.0</td></tr>
            <tr><td>35</td><td>Структуры и базы данных</td><td>180.0</td><td>80.0</td></tr>
            <tr><td>36</td><td>Теория вероятностей и математическая статистика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>37</td><td>Теория электрических цепей</td><td>90.0</td><td>52.0</td></tr>
            <tr><td>38</td><td>Технологии программирования</td><td>276.0</td><td>136.0</td></tr>
            <tr><td>39</td><td>Установка и обслуживание компьютерных сетей</td><td>162.0</td><td>72.0</td  </tr>
            <tr><td>40</td><td>Физика</td><td>476.0</td><td>204.0</td></tr>
            <tr><td>41</td><td>Физическая культура</td><td>400.0</td><td>400.0</td></tr>
            <tr><td>42</td><td>Философия</td><td>180.0</td><td>76.0</td></tr>
            <tr><td>43</td><td>Экономика</td><td>144.0</td><td>60.0</td></tr>
            <tr><td>44</td><td>Электрические и электронные компоненты устройств и систем</td><td>198.0</td><td>84.0</td></tr>
            <tr><td>45</td><td>Электронные приборы</td><td>190.0</td><td>86.0</td></tr>
          </table>
          <p>Выпускающая кафедра – <a href="/faculty/departments/design-info-and-computer-systems">Кафедра проектирования информационно-компьютерных систем</a>.</p>
        </div>
      </div>
     <div id="container-also">
        <div class="box-name-1"><h1>Абитуриенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="specialties"><p>Специальности</p></a>
            <a href="location"><p>Расположение корпусов</p></a>
            <a href="introductory-campaign"><p>Вступительная кампания</p></a>
            <a href="passingscores"><p>Проходные баллы</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
  </body>
</html>
