<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Проходные баллы</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="/">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>
    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Проходные баллы</h1><hr></div>
        <div id="article">
          <p>Проходной балл — один из важнейших показателей для анализа своих шансов поступления на ту или иную специальность. Чем выше проходной балл, тем больше нужно постараться при подготовке к ЦТ.</p>
          <p>Проходной балл находится в прямой зависимости от плана набора на специальность или группу специальностей, количества поданных заявлений, суммы баллов каждого из абитуриентов.</p>
          <p>Например, на специальность электронные системы безопасности (ЭСБ) планируют набрать на бюджет 20 человек, поданных заявлений оказалось 30. В таком случае отбираются 20 человек с наивысшими баллами, затем высчитывается проходной: проходным баллом является минимальный балл абитуриента, попавшего на данную специальность</p>
          <p>Стоит учесть, что есть абитуриенты-льготники, которые могут иметь преимущество перед остальными абитуриентами и пройти на бюджет вне зависимости от общего проходного балла.</p>
          <p>Также существует такое понятие, как полупроходной балл. В процессе зачисления баллы всех абитуриентов внутри каждой специальности выстраиваются в порядке убывания. В случае, если число лиц с одинаковыми баллами превышает количество вакантных мест, часть абитуриентов зачисляются, а часть нет. Приёмная комиссия пофамильно определяет зачисляемых по полупроходному баллу с учётом дополнительных условий, среди которых — школьные оценки по профильным предметам, участие в конкурсах и олимпиадах и пр.</p>
          <p>Нельзя заранее угадать, каким будет проходной балл в следующем году. Можно лишь проанализировать результаты прошлых лет и предположить, какая ситуация будет в этом.</p>
          <p>Чтобы иметь больше шансов попасть в число счастливчиков, поступивших на желаемую специальность, необходимо набрать как можно больше баллов на ЦТ и иметь высокий средний балл аттестата. Максимальное количество баллов составляет 400. По 100 за каждый из тестов и 100 за аттестат (учитываются все оценки). Почему 100 за аттестат, если в школе практикуется 10-бальная система? Средний балл умножается на 10. Например, если у вас средний балл 8.7, то вы имеете 87 балла при подаче документов.</p>
          <p>Это всё, что нужно знать о проходном балле. Помните, что владея информацией и анализируя свои шансы, можно построить успешную стратегию поступления в университет мечты.</p>
        </div>
      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Абитуриенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="specialties"><p>Специальности</p></a>
            <a href="location"><p>Расположение корпусов</p></a>
            <a href="introductory-campaign"><p>Вступительная кампания</p></a>
            <a href="passingscores"><p class="selected">Проходные баллы</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
    </body>
</html>
